.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  border: 1px solid rgb(160, 148, 148);
  border-radius: 5px;
  padding: 3.5rem 3rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.sub-title {
  font-size: 1.3rem;
  padding: 5px;
  color: rgb(160, 148, 148);
}

.timer {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons > * {
  border: none;
  outline: none;
  background-color: white;
}
